.with-tooltip {
  margin-left: 3px;
  font-size: 16px;

  .tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    visibility: hidden;

    &[data-popper-placement^='top'] > #arrow {
      bottom: -4px;
    }
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      z-index: -1;
      content: '';
      transform: rotate(45deg);
      background: #333;
      bottom: -4px;
      left: calc(50% - 4px);
    }
  }
  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
      &::before {
        opacity: 1;
      }
    }
  }
}

.is-invalid {
  .form-check > label {
    color: #dc3545;
  }
}

.biribinha-bootstrap3 {
  legend,
  label {
    font-size: 14px;
    color: #333;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    border: 0;
    border-bottom: none;
  }
  input[type='checkbox'],
  input[type='radio'] {
    margin-right: 5px;
  }
  .invalid-feedback {
    color: #dc3545;
  }
}
